<div style="padding: 0px; margin: 30px 0px 0px 0px" class="col-md-12">
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs justify-content-end">
                <li>
                    <label style="padding: 0px 50px 0px 13px;">Organization Performance Indicators</label></li>
                <li class="active"><a href="#tab1default" data-toggle="tab">Submissions Insight</a></li>
                <li><a href="#tab2default" data-toggle="tab">Interviews Insight</a></li>
                <li><a href="#tab3default" data-toggle="tab">Starts Insight</a></li>
            </ul>
        </div>
        <div style="height: 360px; overflow: auto;" class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1default">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Recruiter Name</th>
                                <th># Days Present</th>
                                <th>Submissions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab2default">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Recruiter Name</th>
                                <th># Days Present</th>
                                <th>Submissions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane fade" id="tab3default">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Recruiter Name</th>
                                <th># Days Present</th>
                                <th>Submissions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>Ashwini Gowda</td>
                                <td>4</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Goutham Gowda</td>
                                <td>4</td>
                                <td>13</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
