
<div class="col-md-3">
    <div id="SubmissionChart" data-tooltip title="Click to view submissions" data-jr="Submission" style="cursor: pointer;" class="c100 p76 md green">
        <span>70%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <label style="text-align: center; padding: 20px 0px 0px 10px;">Submissions 70/100 </label>
</div>
<div class="col-md-3">
    <div id="SubmissionChart" data-tooltip title="Click to view submissions" data-jr="Submission" style="cursor: pointer;" class="c100 p65 md yellow">
        <span>70%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <label style="text-align: center; padding: 20px 0px 0px 29px;">Interviews 35/50 </label>
</div>
<div class="col-md-3">
    <div id="SubmissionChart" data-tooltip title="Click to view submissions" data-jr="Submission" style="cursor: pointer;" class="c100 p50 md red">
        <span>70%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <label style="text-align: center; padding: 20px 0px 0px 34px;">Offers 15/30 </label>
</div>
<div class="col-md-3">
    <div id="SubmissionChart" data-tooltip title="Click to view submissions" data-jr="Submission" style="cursor: pointer;" class="c100 p50 md red">
        <span>70%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <label style="text-align: center; padding: 20px 0px 0px 41px;">Starts 15/30 </label>
</div>
