@{
    ViewBag.Title = "UploadUsers";
}

<h2>UploadUsers</h2>
<legend>Upload</legend>
<br />

@using (Html.BeginForm("UploadUsers", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
{        
    <div>

        <table style="width: 50%; height: 100%" class="table container-fluid">
            
            <tr>
                <td>
                    @Html.TextBox("file", "", new { type = "file", required = "required" })
                    <br />
                </td>
                <td>
                    <input type="submit" value="Upload" />
                </td>
            </tr>

        </table>
    </div>  
    <div>
        @Html.ActionLink("View Submission", "ViewSubmission")
    </div>
    
           
}