
@using System.Globalization;
<input type='hidden' value='0' id='HidMonth' />

@{
    ViewBag.Title = "ClientMonthyDashboard";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/Content/CSS/TeamDashboard.css?V1.1" rel="stylesheet" />
<link href="~/Content/CSS/TeamDashboardGraph.css" rel="stylesheet" />
<link href="~/Content/CSS/Dashboard/bootstrap-treefy.css" rel="stylesheet" />
<script src="~/Content/JS/Dashboard/bootstrap-treefy.js"></script>

<style>
    @@import url('//cdn.datatables.net/1.10.2/css/jquery.dataTables.css');
 td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}
[data-toggle="toggle"] {
	display: none;
}
 
.affix {
  position: fixed;
  width: 94%;
}

</style>

<div id="exTab1" class="container">
    <div class="panel panel-default ">
        <div style="text-align: center;" class="panel-heading headingStyle affix"  data-spy="affix" data-offset-top="5">
            <button id='previousMonthBtn' class="btn btn-primary"><i class="fas fa-angle-double-left"></i></button>
            <label class="LblHeader">      
                Client Dashboard For          
                <label id="monthTextLable"></label>
            </label>
            <button id='nextMonthBtn' class="btn btn-primary"><i class="fas fa-angle-double-right"></i> </button>

        </div>
        <div id="ClientReportPartial" class="panelStyle"></div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg ">
        <div id='myModalContent'></div>
    </div>
</div>



<script>


    $(document).ready(function () {
        changeButtonState()
        var months = ["January", "February", "March", "April", "May", "June",
               "July", "August", "September", "October", "November", "December"];
        var month = $("#HidMonth").val();
        var jobRepartPartialUrl = '@Url.Action("ClientMonthlyPartial")';
     
        $.ajax({
            type: "GET",
            url: jobRepartPartialUrl,
            contentType: "application/json; charset=utf-8",
            data: { "month": month },
            datatype: "json",
            success: function (data) {
                $('#ClientReportPartial').html(data);
                
            },
            error: function () {
                //alert("Dynamic content load failed.");
            }
        });

        var date = new Date();
        var m = date.getMonth();
        $('#monthTextLable').text(months[m]);

        divLoader


        $("#previousMonthBtn").click(function () {

            //debugger;
            //disable the buttons.
            $("#nextMontBtn").prop('disabled', true);
            $("#previousMontBtn").prop('disabled', true);

            var month = $("#HidMonth").val();
            var monthInt = parseInt(month) - 1;
            $("#HidMonth").val(monthInt);
            $.ajax({
                type: "GET",
                url: jobRepartPartialUrl,
                contentType: "application/json; charset=utf-8",
                data: { "month": monthInt },
                datatype: "json",
                success: function (data) {
                    $('#ClientReportPartial').html(data);


                },
                error: function () {
                   // alert("Dynamic content load failed.");
                }
            });
            var date = new Date();
            date.setMonth(date.getMonth() + monthInt);
            var m = date.getMonth();
            $('#monthTextLable').text(months[m]);
            changeButtonState()
            return false;
        })//, 1000);      





        $("#nextMonthBtn").click(function () {
            //disable the buttons.
            $("#nextMontBtn").prop('disabled', true);
            $("#previousMontBtn").prop('disabled', true);
            var month = $("#HidMonth").val();
            var monthInt = parseInt(month) + 1;
            $("#HidMonth").val(monthInt);

            $.ajax({
                type: "GET",
                url: jobRepartPartialUrl,
                contentType: "application/json; charset=utf-8",
                data: { "month": monthInt },
                datatype: "json",
                success: function (data) {


                    $('#ClientReportPartial').html(data);


                },
                error: function () {
                   // alert("Dynamic content load failed.");
                }
            });

            var date = new Date();
            date.setMonth(date.getMonth() + monthInt);
            var m = date.getMonth();
            $('#monthTextLable').text(months[m]);
            changeButtonState()
            return false;
        })//, 1000);



    });

    function changeButtonState() {

        var month = $("#HidMonth").val();


        if (month == 0) {
            $("#nextMonthBtn").prop('disabled', true);
            $("#previousMonthBtn").prop('disabled', false);
        }
        else if (month == -2) {
            $("#nextMonthBtn").prop('disabled', false);
            $("#previousMonthBtn").prop('disabled', true);

        }
        else {
            $("#nextMonthBtn").prop('disabled', false);
            $("#previousMonthBtn").prop('disabled', false);
        }


    }
  

</script>









